{% extends "base.html" %}
{% load static %}

{% block title %}Notifications - FixPoint{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'pages/css/notifications.css' %}">
{% endblock %}

{% block content %}
    {% include "components/notifications_topbar.html" %}

    <div class="page-body">
        {% include "components/notifications_messages.html" %}
        {% include "components/notifications_tabs.html" %}
        {% include "components/notifications_list.html" %}
    </div>
{% endblock %}

{% block page_js %}
    <script src="{% static 'pages/js/notifications.js' %}"></script>
{% endblock %}
